.div {
  margin: 10px;
  float: left;
  border: 2px solid #666;
}

.div5 {
  width: 72px;
  height: 48px;
  background: url('./image5.png') no-repeat;
}

.div6 {
  width: 96px;
  height: 64px;
  background: url('~@page2/image6@2x.png?__sprite') no-repeat;
  background-size: cover;
}

/* 测试图片尺寸过大的情况 */
.div7 {
  width: 300px;
  height: 100px;
  background: url('./image7@3x.png?__sprite') no-repeat;
  background-size: cover;
}

/* repeat 不处理 */
.div8 {
  width: 192px;
  height: 64px;
  background: url('./image8@2x.png?__sprite');
  background-size: contain;
  background-repeat: repeat-x;
}
