.div {
  margin: 10px;
  float: left;
  border: 2px solid #666;
}

.div1 {
  width: 192px;
  height: 128px;
  background-image: url('./image1.png');
}

.div2{
  width: 96px;
  height: 64px;
  background-image: url('./image2.png?__sprite');
}

.div3 {
  width: 48px;
  height: 32px;
  background-image: url('./image3.png?__sprite');
}

/* 同一张图片引用两次 */
.div3_1 {
  width: 48px;
  height: 32px;
  background-image: url('./image3.png?__sprite');
}

/* 同一张图片，不同名字 */
.div3_2 {
  width: 48px;
  height: 32px;
  background-image: url('./image3_2.png?__sprite');
}
