<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CSS Sprites Plugin</title>
  </head>
  <body>
    <div class="div div1"></div>

    <div class="div div2"></div>

    <div class="div div3"></div>

    <div class="div div3_2"></div>

    <div class="div div4"></div>

    <div class="div div5"></div>

    <div class="div div6"></div>

    <div class="div div7"></div>

    <div class="div div8"></div>
  </body>
</html>
